* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

.wrapper {
    max-width: 62.5rem;
    margin: auto;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem; 
}

h1, h2, h3, h4 {
    color: white;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
}

.header {
    max-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.header__large {
    background-color: #C7DDEA;
    background-image: url("../images/family.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right 17px;
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: 3rem 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.header__large h1 {
    color: black;
    margin: 0;
}
.header__large p {
    font-size: 0.87rem;
    font-weight: 500;
}

.header span {
    color: white;
}

.header__small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__small h2, .header__small p {
    margin: 1px;
}

.header__small p {
    font-size: 0.68rem;
    font-weight: 700;
}

.header__small--orange {
    background-color: #F17949;
    grid-column: 2;
    grid-row: 1;
}

.header__small--yellow {
    background-color: #FFB939;
    grid-column: 2;
    grid-row: 2;
}

.btn {
    appearance: none;
    border: none;
    background-color: white;
    border-radius: 100px;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700; 
    font-size: 0.625rem;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.btn--header {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.navbar {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 2rem; /*smidigare sätt att lösa det på?*/
}

.navbar a {
    font-size: 0.75rem;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4) ;
    padding: 2rem; /*smidigare sätt att lösa det på?*/
}

.navbar a:active {
    color: black;
}

.content {
    background-color: orange;
}

.content__intro {
    background-color: #A9A19E;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 6rem;
}

.content__intro__left {
    width: 40%; 
    /*display: flex; kan vi lösa det med align-self stretch eller flexbox?*/
}

.content__intro__left h1 {
    margin: 0;
}

.btn--content {
   margin-top: 2rem; /*lösa det med flexbox?*/
}

.content__intro__right {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6)
}

.content__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    transform: translateY(-50%);
    z-index: 5;
    

}
.content__cards article { /*bättre med classnamn?*/
    height: 300px;
    width: 256px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 0.6rem;
    text-align: center;
}

.content__cards h2 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    font-weight: 700;
}

.content__cards p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1.125rem;
    margin-top: 0;
}

.content__cards div {
    border-radius: 5px;
    margin-top: -40px;
}
.content__cards__child {
    height: 50%;
    width: 100%;
    background-color: #C7DDEA;
}

.content__cards__child img {
    width: 35%;
    height: 100%;
    object-fit: cover;
    object-position: 0 10px;
}

.content__cards__adult {
    height: 50%;
    width: 100%;
    background-color: #FAB131;
}
.content__cards__adult img {
    width: 35%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20px;
}

.content__cards__old {
    height: 50%;
    width: 100%;
    background-color: #F17949;
}

.content__cards__old img {
    width: 55%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20px;
}




.content__about {
    text-align: center;
    width: 40%;
    margin: auto;
    transform: translateY(-30%);
}

.content__about p {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.6);
}

.content__about h1 {
   margin: 0;
}



